.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    text-align: center;
    border: 2px solid red;
    background-color: aliceblue;
    padding: 20px;
    margin-top: 200px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input {
    margin: 5px;
}